html, body {
    height: 100%;
    width: 100%;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
}

#title {
    font-size: 70px;
}

#board {
    align-items: center;
}

.square {
    height: 70px;
    width: 70px;
    border: 1px solid black;
    padding: 10px;
 
}

.row {
    display: flex;
    justify-content: center;
}

.null {
    background-color: none;
}

.dark {
    background-color: black;
}


.blackPiece {
    background: black url(/img/blackPiece.png);
}

.redPiece {
    background: black url(/img/redPiece.png);
}

.redKing {
    background: black url(/img/redKing.png);
}

.blackKing {
    background: black url(/img/blackKing.png);
}

.blackPiece, .redPiece, .redKing, .blackKing {
    background-size: cover;
    cursor: pointer;
}

.selected {
    border-radius:50%;
    border:#CCCCCC thin solid;
}



/* Lower page */
#lower-page {
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    border: 1px solid black;
}

#reset {
    width: auto;
    border: none;
    border-radius: 15px;
    height: 50px;
    cursor: pointer;
}
