html, body {
    height: 100%;
    width: 100%;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    background-color: rgb(57, 22, 22);
    color: red;
    text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
}

#title {
    font-size: 80px;
}

/* Left side info display and rest button */
.container {
    display:grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    border: 1px solid black;
}

#info-display {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.taken {
    display: flex;
}

#reset {
    width: auto;
    border: none;
    border-radius: 15px;
    height: 50px;
    cursor: pointer;
    background-color: black;
    color:rgb(232, 0, 0);
    font-family: 'Exo 2', 'Sans-serif';
    font-size: 35px;
    margin-top: 550px;
    width: auto;
}

/* Right side: board */
#board {
    align-items: center;
    padding-right: 100px;
}

.square {
    height: 70px;
    width: 70px;
    border: 1px solid black;
    padding: 10px;
 
}

.row {
    display: flex;
    justify-content: center;
}

.null {
    background-color: none;
}

.light {
    background-color: burlywood;
}

.dark {
    background-color: black;
}

.blackPiece {
    background: black url(/img/blackPiece.png);
}

.redPiece {
    background: black url(/img/redPiece.png);
}

.redKing {
    background: black url(/img/redKing.png);
}

.blackKing {
    background: black url(/img/blackKing.png);
}

.blackPiece, .redPiece, .redKing, .blackKing {
    background-size: cover;
    cursor: pointer;
}

.selected {
    background-color: rgb(246, 255, 0);
}

