html, body {
    height: 100%;
    width: 100%;
    text-align: center
}

#title {
    font-size: 70px;
}

#board {
    align-items: center;
}

.square {
    height: 70px;
    width: 70px;
    border: 1px solid black;
    padding: 10px;
 
}

.row {
    display: flex;
    justify-content: center;
}

.dark {
    background-color: black;
}


.blackPiece {
    background: linear-gradient(10deg, rgba(18, 18, 18, 0.76), rgba(0, 0, 0, 0.274)), url(/img/blackPiece.jpg);
    background-size: contain;
}

.redPiece {
    background: linear-gradient(10deg, rgba(18, 18, 18, 0.76), rgba(0, 0, 0, 0.274)), url(/img/redPiece.jpg);

    background-size: contain
}

/* Lower page */
#lower-page {
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    border: 1px solid black;
}
